@font-face {
    font-family: neu;
    src: url(neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayMediu.ttf);
}

@font-face {
    font-family: neu;
    font-weight: 100;
    src: url(neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayLight.ttf);
}

@font-face {
    font-family: neu;
    font-weight: 200;
    src: url(neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayRoman.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: neu;
}

*::selection{
    background-color: #000;
    color: #fff;
}

html,body{
    width: 100%;
    height: 100%;
}

#page1 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding: 0 2vw;
}

nav {
    padding: 2vw 0vw;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
}

.Menu{
    display: none;
}
.nav-elem{
    display: flex;
    align-items: center;
    gap: 1vw;
}

.nav-elem h4 {
    padding: 10px 20px;
    border: 1px solid #0000003c;
    border-radius: 50px;
    font-weight: 500;
    color: #000000bb;
    transition: all ease 0.4s;
    position: relative;
    font-size: 18px;
    overflow: hidden;
}

.nav-elem h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

.nav-elem h4:hover::after {
    bottom: 0;
    border-radius: 0;
}

.nav-elem h4 a {
    color: #000000bb;
    text-decoration: none;
    position: relative;
    z-index: 9;
}

.nav-elem h4:hover a {
    color: #fff;
}

.center{
    height: 65vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 3vw;
    border-bottom: 1px solid #0000003c;
}

.left h3{
    width: 25vw;
    font-size: 1.8vw;
    line-height: 2vw;
}

.right h1{
    font-size: 10vw;
    text-align: right;
    line-height: 8vw;
}

.hero-shape {
    position: absolute;
    width: 46vw;
    height: 36vw;
    right: 0;
    top: 65vh;
}

.hero1 {
    background-color: #FE320A;
    height: 100%;
    width: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(25px);
    position: absolute;
}

.hero2 {
    background: linear-gradient(#FE320A, #fe3f0a);

    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    position: absolute;
    animation-name: anime2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    filter: blur(25px);
}

.hero3 {
    background: linear-gradient(#FE320A, #fe3f0a);
    height: 30vw;
    position: absolute;
    width: 30vw;
    border-radius: 50%;
    filter: blur(25px);
    animation-name: anime1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes anime1 {
    from {
        transform: translate(55%, -3%);
    }

    to {
        transform: translate(0%, 10%);
    }
}

@keyframes anime2 {
    from {
        transform: translate(5%, -5%);
    }

    to {
        transform: translate(-20%, 30%);
    }
}

 #page1 video{
    position: relative;
    width: 100%;
    border-radius: 4vw;
    margin-top: 5vw;
 }

 #page2{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding: 5vh 2vw;
 }

 #ball{
    height: 70px;
    width: 70px;
    background-color: #FE320A;
    border-radius: 50%;
    display: inline-block;
    margin: 15px 15px;
 }

 .move h1{
    font-size: 9vw;
    display: inline-block;

 }

 .move{
    display: inline-block;
    white-space:nowrap;
    animation-name: flow;
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
 }

 .moving-text{
    white-space: nowrap;
    overflow-x: auto;
 }    
 
.moving-text::-webkit-scrollbar{
    display: none;
}

 @keyframes flow {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
 }

 #page2-bottom{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 6vw 3vw;
 }

 .part2 img{
    width: 100%;
    border-radius: 15px;
 }
 .part1{
    width: 60%;
    z-index: 99;
 }
 .part1 h1{
    font-size: 4vw;
 }
 .part2{
    width: 20%;
 }

 .part2 p{
    font-weight: 100;
    font-size: 1.4em;
    padding-top: 3rem;
    line-height: 1.3;
 }
 .golaa{
    position: absolute;
    height: 30vw;
    width: 30vw;
    background: linear-gradient(to top right, #ff2d03, #ff5c0b);
    border-radius: 50%;
    top: 40%;
    left: 25%;
    filter: blur(25px);
    animation-name: gool;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    z-index: 9;
}

@keyframes gool {
    from{
        transform: translate(-7%, 2%);
    }
    to{
        transform: translate(2%, -5%);
    }
}

#page3{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
 }

 .banner{
    height: 17vh;
    width: 100%;
    position: relative;
    border-bottom: 1px solid rgba(54, 53, 53, 0.485);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:black;
 }

 .banner::after{
    content: " ";
    height: 17vh;
    width: 100%;
    background-color: #FF9831;
    position: absolute;
    top: -101%;
    transition: all 0.2s ease-in-out ;
 }

 .banner:hover::after{
    top: 0;
 }

.banner h1{ 
    font-size: 3.5vw;
    padding: 0 4vw;
    z-index: 9; 
}   

.banner-tittle2{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 9;
    padding: 0 2vw;
}

.banner-tittle2 h4{
    font-size: 1.2rem;
    font-weight: 200;
    color: rgba(0, 0, 0, .4);
}

.fixed-img{
    height: 30vw;
    width: 25vw;
    position: fixed;
    z-index: 99;
    border-radius:10px ;
    left: 50%;
    top: 18%;
    display: none;
    background-position: center;
    background-size: cover;
}

#page4 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding: 10vw 2vw;
}

.back-box{
    height: 100vh;
    width: 100%;
    border-radius: 30px;
    background-color: black;
    display: flex;
}

.box1{
    width: 40%;
    height: 100%;
    color: #fff;
    padding-top: 13vw;
    padding-left: 8vw;
}


.box2{
    width: 60%;
    height: 100%;
    border-radius:10px ;
}

.box1-2{
    position: relative;
    width: 80%;
    left: 20px;
}
.text{
    font-size: 4vw;
    font-weight: bold;
    cursor: pointer;
    padding: 0 1vw;
    transition: opacity 0.3s;
    line-height: 1;
    border-left: 4px solid rgba(123, 121, 121, 0.705); 
    transition: opacity 0.3s, border-color 0.3s;
}
.active {
    border-left-color: red;
    opacity: 1;
}
.faint {
    opacity: 0.5;
}
.paragraph {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    position: absolute; 
    font-size: 1.1rem;
    line-height: 1.8;
    font-weight: 300;
    padding: 2vw 0;
}
.paragraph.show {
    opacity: 1;
}

.box2 img {
    width: 100%;
    height: 100%;
     object-fit: cover;
    object-position: center;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease-in-out; 
}

.blink {
    animation: blink 4s ease-in-out;
}

@keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

#page5 {
    width: 100%;
    background-color: #EFEAE3;
    padding: 4vw 2vw;
}

.swiper {
    width: 100%;
    height: 100%;
    padding: 0  5vw;
  }


  .swiper-slide {
    width: 30%;
     height: 40vh;
    text-align: start;
    font-size: 1.2rem;
    border-left:1px solid #3a3a3ac6;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 35px;
    padding: 1vw 2vw;
    animation-name: swipe;
    animation-duration: 10s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
  }

  @keyframes swipe {
    from{
        transform: translate(-360%);
    }
    to{
        transform: translate(0);
    }
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
 
  .para{
    font-size: 1rem;
    max-width: 75%;
    line-height: 1.4;
    font-weight: 300;
  }
 
  .brand img{
    height: 4.5vw;
  }

  #north{
    height: 8vw;
  }

  #main{
    position: relative;
    z-index: 10;
  }
 #page6{
    height: 100vh;
    width: 100%;
 }

 #footer{
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #000;
    color: #fff;
    z-index: 9;
    bottom: 0;
    padding: 0 2vw;
 }  

 .foot1{
    display: flex;
    justify-content: space-between;    
    padding: 2vw 3vw;
 }

 .foot1-1, .foot1-2{
    z-index: 1;
 }
 .foot1-1 h1{
    font-size: 2.9rem;
 }
 .foot1-2 p{
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.4;
 }

 .foot2{
    font-size: 23vw;
    border-bottom: 1px solid white;
    line-height: 1;
    padding-top: 4vw;
 }

 .foot3{
    display: flex;
    justify-content: space-between;
 }

 .foot3 h5{
    font-size: 1.4rem;
    font-weight: 300;
    margin: 1rem;
 }

 .gol {
    position: relative;
    width: 100%;
    top: 0;
}

.gol1{
  position: absolute;
  height: 70vh;
  width: 100%;
  background: linear-gradient(#FE320A, #fe3f0a);
  border-radius:100px;
  animation: hero1 4s linear infinite alternate;
  left: -30%;
  top: -60vw;
  filter: blur(35px);
  overflow: hidden;
}

  @keyframes hero1 {
    from{
        transform: rotate(-20deg);
    }
    to{
      transform: rotate(-16deg);
    }
  }

  .gol2{
  position: absolute;
  height: 60vh;
  width: 45vw;
  background: linear-gradient(#FE320A, #fe3f0a);
  border-radius: 15px;
  animation: hero2 4s linear infinite alternate;
  right: -18%;
  top: -50vw;
  filter: blur(35px);
}

@keyframes hero2 {
    from{
        transform: rotate(50deg);
    }
    to{
      transform: rotate(40deg);
    }
  }

  .gol3{
    height: 30vh;
    width: 30vw;
    background: linear-gradient(#FE320A, #fe3f0a);
    position: absolute;
    animation: hero3 4s linear infinite alternate;
    left: 55%;
    top: -53vw;
    filter: blur(35px);
  }

  @keyframes hero3 {
    from{
        transform: translateY(-10%);
    }
    to{
        transform: translateY(10%);
    }
  }

  .banner-img{
    display: none;
  }

  .fullscr{
    height: 100vh;
    width: 100%;
    background-color: #3130308c;
    position: fixed;
    z-index: 99;
    top: -100% ;
    transition: all ease 0.8s;
  }

  #loader{
    width: 100%;
    height: 100%;
    background-color: #000;
    position: fixed;
    z-index: 999;
    top: 0;
    transition: all ease 0.6s;
    display: flex;
    justify-content: center;
    align-items: center;
}

  #loader h1{
    font-size: 4vw;
    color: transparent;
    background: linear-gradient(to right,orange,orangered);
    -webkit-background-clip: text;
    position: absolute;
    opacity: 0;
    animation-name: load;
    animation-duration: 1s;
    animation-delay:1s ;
    animation-timing-function: linear;
  }

  #loader h1:nth-child(2){
    animation-delay: 2s;
  }

  #loader h1:nth-child(3){
    animation-delay: 3s;
  }

    @keyframes load {
        0%{
            opacity: 0;
        }
        10%{
            opacity: 1;
        }
        90%{
            opacity: 1;
        }
        100%{
            opacity: 0;
        }
    }

  @media (max-width:600px){
    #page1 {
        min-height: 100vh;
        width: 100%;
        background-color: #EFEAE3;
        position: relative;
        padding: 0 2vw;
    }
    .logo img{
        scale: 0.8;
        transition: all ease 0.3s;
    }


    nav {
        padding: 2vw 0vw;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 100;
    }
    
    .nav-elem{
        display: none;
    }
    

    .center{
        height: 65vh;
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;           
        padding-bottom: 3vw;
        padding: 6vw  3vw;
        border-bottom: 1px solid #0000003c;
        flex-direction: column-reverse;
    }
    
    .left h3{
        width: 85%;
        font-size: 6vw;
        line-height: 9vw;
    }
    
    .right h1{
        font-size: 18vw;
        text-align: right;
        line-height: 16vw;
        padding: 2vw 4vw;
    }
    
    .hero-shape {
        position: absolute;
        width: 60vw;
        height: 56vw;
        right: -5vw;
        top: 70vh;
    }
    
    .hero2 {  
        height: 30vw;
        width: 30vw;
    }
    
    .hero3 {
        height: 30vw;
        width: 30vw;
    }
    
    #page1 video{
        position: relative;
        width: 100%;
        border-radius: 5vw;
        height: 67vh;
        object-fit: cover;
        object-position: center;
        padding: 2vw 2vw;
     }
    
     #ball{
        height: 5vw;
        width: 5vw;
        background-color: #FE320A;
        border-radius: 50%;
        display: inline-block;
        margin: 3px 15px;
     }
    
     .move h1{
        font-size: 10vw;
        display: inline-block;
    
     }


     #page2-bottom{
        display: flex;
        justify-content: space-between;
        position: relative;
        padding: 6vw 3vw;
        flex-direction: column;
     }
    
     .part2 img{
        width: 75%;
        border-radius: 15px;
     }
     .part1{
        width: 100%;
        z-index: 99;
     }
     .part1 h1{
        font-size: 6vw;
     }
     .part2{
        width: 90%;
        padding: 3vw 2vw;
        z-index: 99;
     }
    
     .part2 p{
        font-weight: 100;
        font-size: 7vw;
        padding-top: 3rem;
        line-height: 1.2;
     }
     .golaa{ 
        height: 55vw;
        width: 55vw;
        top: 10%;
        left: 46%;
     }

     .fixed-img {
        display: none;
     }

     .banner-img{
        height: 55vh;
        width: 100%;
        border-radius: 20px;
        display: block;
      }
  
      .banner-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 20px;
      }

      .banner{
        height: 75vh;
        width: 100%;
        padding: 4vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        border: none;
      }

      .banner::after{
        display: none;
      }

      .banner h1{
        font-size: 7.5vw;
        padding-top: 3vw;
        padding-left: 3vw;
      }

      .banner-tittle2 h3{
        font-size: 5vw;
        padding: 1vw 1vw 1vw 1vw;
      }

      .banner-tittle2 h4{
        font-size: 5vw;
        padding: 1vw 1vw 1vw 1vw;
      }

      #nike{
        padding: 1vw 16vw 1vw 1vw;
      }

      #cap{
        padding: 1vw 7vw 1vw 1vw;
      }

      #p-right{
        padding-right: 48vw;
      }

  
    .back-box{
        display: flex;
        flex-direction: column;
    }
    
    .box1{
        width: 100%;
        height: 100%;
        color: #fff;
        padding-top: 13vw;
        padding-left: 8vw;
    }
    
    
    .box2{
        width: 100%;
        height: 100%;
        border-radius:10px ;
    }
    
    .box1-1 h1{
        font-size: 10.3vw;
        padding-left: 3vw;
    }
    .box1-2 p{
        font-size: 3.7vw;
        line-height: 1.9;
        padding-top: 3vw;
    }
    .box2{
        padding: 2vw;
    }

    #page5{
        padding: 11vw 2vw;
    }
    .swiper-slide {
        width: 85%;
        padding: 3vw;
    }

    .brand img {
        height: 17vw;
    }
    .para {
        font-size: 4.5vw;
        max-width: 100%;
        line-height: 1.4;
        font-weight: 300;
    }

    #north{
        height: 40vw;
    }
    @keyframes swipe {
        from{
            transform: translate(-650%);
        }
        to{
            transform: translate(0);
        }
      }

      #page6{
        height: 60vh;
        width: 100%;
      }


      #footer{
        height: 60vh;
      }
      .foot1{
        display: flex;
        flex-direction: column;
      }
    .foot1-1{
        padding-top: 2vw;
    }
      .foot1-1 h1{
        font-size: 9vw;
      }
      .foot1-2 p{
        padding-top: 6vw;
        font-size: 5vw;
      }

      .foot3{
        display: grid;
        grid-template-columns: 1fr 1fr ;
      }

      .foot2{
        line-height: 1.4;
      }

      .foot3 h5{
        font-size: 5vw;
      }

      .gol3 , .gol2{
        display: none;
      }

      .gol1{
        left: 14%;
     top: -200vw;
      }

      #loader h1{
        font-size: 10vw ;
      }
  }